<!DOCTYPE html>
<html>
  <head>
    <title>Add new user</title>
  </head>
  <body>
    <form class="add" action="/add" method="post">
      Name: <input type="text" name="name" value="">
      Email: <input type="text" name="email" value="">
      Age: <input type="number" name="age" value="">
      <button>Submit</button>
    </form>
  </body>
</html>
